.navbar-default {
  background-color: #2c3742
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 30px;
  padding: 10px 15px;
  line-height: inherit;
}

.navbar-default .navbar-brand img {
  height: 40px;
  margin-top: -5px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 22px;
  line-height: inherit;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2c3742
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #2c3742;
  color: #fff
}

.navbar-default .dropdown-menu {
  font-size: 16px;
}

.navbar-default .dropdown-menu>li>a {
  font-size: 20px;
}

@media (max-width: 767px) {
  .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus {
    background-color: #2c3742
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff
  }
}